[package]
name = "factom"
version = "1.0.2"
authors = ["MitchellBerry <mitchellberry+public@protonmail.com>"]
edition = "2018"
repository = "https://github.com/MitchellBerry/Factom-Client"
homepage = "https://github.com/MitchellBerry/Factom-Client"
license = "Apache-2.0"
readme = "readme.md"
maintenance = { status = "passively-maintained" }
description = "Factom API client"

[dependencies]
bs58 = "0.3.0"
ed25519-dalek = "0.9.1"
futures-preview = {version = "0.3.0-alpha.19",  features = ["compat"] } 
futures-core-preview = "=0.3.0-alpha.19"
futures-channel-preview = "=0.3.0-alpha.19"
futures-util-preview = "=0.3.0-alpha.19"
hex = "0.4.0"
hyper = {version = "0.13.0-alpha.4", features = ["unstable-stream"] }
hyper-tls = "0.4.0-alpha.4"
http = "0.1.19"
rand = "0.6.5"
sha2 = "0.8.0"
tokio = "0.2.0-alpha.6"
tokio-executor = "=0.2.0-alpha.6"

serde_json = "1.0.39"
serde_derive = "1.0.89"
serde = { version = "1.0.89", features = ["derive"] }

[dev-dependencies]
rand = "0.7.2"

